body{
  background-image: url('../images/bg-hawk.png');
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}

.navbar{
  padding: .3rem 1rem;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;
}
.nav-link{
  padding:.2rem 1rem;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active{
  background-color:#4aaaa5;
  color:white;
  opacity:.5;
}
.navbar-nav .nav-link{
  margin-top: 5px;
  padding-top: 5px;
  padding-left: 10px;
}
.navbar-light .navbar-nav .nav-link:hover{
  background-color: #4aaaa5;
  color:white;
  opacity:.4;
}
.border-div{
  border-right: 1px solid gray;
}
.navbar-toggler{
  margin-top:10px;
}

.content{
  max-width:960px;
  margin:0 auto;
}

.name-header{
  background-color:#4aaaa5;
  color:white;
  padding:11px 15px 15px 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:1.5em;
  font-weight:bold;
}

h1, .header-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:1.5em;
  font-weight:bold;
  color:#4aaaa5;
}
.non-header-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em; 
}

.section-content-wrapper{
  margin:15px;
}

.about-me-width{
  width:100%;
}

.divider-line{
  margin:0 auto;
  min-height:1px;
  margin-bottom:20px;
  background-color:#dddddd;
}

.left-content{
  background-color: #ffffff;
  border:1px solid #dddddd;
  overflow:auto;
  margin-bottom:20px;
}

.prof-pic{
  float:left;
  margin-right:15px;
  width:40%;
}

.about-me{
  text-align:justify;
}

/* portfolio page styles */
.projs-wrapper{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* how to justify-content:center when screen small*/
}
.proj-wrapper{
  display: flex;
  position:relative;
  margin-bottom: 30px;
}
.proj-wrapper:hover{
  opacity:.7;
}
.proj-pic{

}
.proj-name{
  position: absolute;
  margin-top:30px;
  color:white;
  background-color:#4aaaa5;
  padding:10px;
  width: 100%;
  font-weight: normal;
}

/* contact form styles */
.form{
  color:gray;
}
input{
  width:100%;
  margin: 5px 0px 10px 0px;
  border: 1px solid #CCCCCC;
  color:#BBBBBB;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 5px;
}
input[type=submit]{
  width:auto;
  padding:10px 15px 10px 15px;
  border: none;
  margin-top:10px;
  background-color:#4aaaa5;
  color:white;
}
input[type=submit]:hover{
  background-color:#4aaaa5;
  opacity:.7;
  color:white;
  font-style: italic;
}
textarea {
  height:100px;
  width:100%;
  margin: 5px 0px 10px 0px;
  border: 1px solid #CCCCCC;
  color:#BBBBBB;
  border-radius: 0px;
  resize: none;
  box-sizing: border-box;
  padding: 5px;
}
#mailto-subject{
  display: none;
}

/* social media (right-side) content */
.right-content{
  background-color: #ffffff;
  border:1px solid #dddddd;
  padding-bottom: 15px;
  margin-bottom:20px;
}
.icon{
  width:60px;
}
.icon:hover{
  opacity:.7;
}

.card{
  border-top: 5px solid #4aaaa5;
}

.card-header{
  background-color: #666666;
  color:#aaaaaa;
  text-align:center;
}